<div class="d-flex justify-content-center" *ngIf="load == 1; else elseBlock">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<ng-template #elseBlock>
    <p>Danh sách tour du lịch</p>
    <div class="row">
        <div *ngFor="let tour of tours  | paginate: { itemsPerPage: 9, currentPage: p }; let i = index" class="col-sm-4"
            style="padding-top: 10px;">
            <div class="card" style="width: 18rem;">
                <img src="{{tour.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{tour.title.substring(0,100)}}</h4>
                    <h5>Giá: {{tour.adult_price  |currency:'VND'}}</h5>
                    <p class="card-text">{{tour.descriptions.substring(0,200)}}</p>
                    <a (click)="onSelect(tour)" class="btn btn-primary float-right">Xem chi tiết</a>
                </div>
            </div>
        </div>

    </div>
    <pagination-controls (pageChange)="p = $event" class="float-right" style="padding-top: 20px;" previousLabel=""
        nextLabel="">
    </pagination-controls>
</ng-template>