<div class="row">
    <div class="col">
        <div class="card text-white bg-info mb-3 shadow-lg rounded" style="max-width: 18rem;">
            <div routerLink="/tours" class="card-body" >
                <h2 class="card-title">Số lượng tour</h2>
               <h1>{{tourCount}}</h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-success mb-3 shadow-lg" style="max-width: 18rem;">
            <div routerLink="/bookings" class="card-body">
                <h2 class="card-title">Đơn hàng</h2>
                <h1>{{bookingCount}}</h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-primary mb-3 shadow-lg" style="max-width: 18rem;">
            <div routerLink="/users" class="card-body">
                <h2 class="card-title">Người dùng</h2>
              <h1>{{userCount}}</h1>
            </div>
        </div>
    </div>
</div>