<div class="d-flex justify-content-center" *ngIf="load == 1; else elseBlock">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<ng-template #elseBlock>
  <div class="card">
    <div class="card-header">
      <h3 class="float-left">Thông tin chi tiết:</h3>
      <div class="btn-group float-right">
        <a class="btn btn-outline-warning">Sửa</a>
        <a class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Xoá</a>
      </div>
    </div>
    <div class="card-body">

      <form>

        <div class="row">
          <div class="col">
            <label>Mã tour: {{ tour._id }}</label>
            <br>
            <label>Tạo lúc: {{ tour.created_at|date : 'HH:MM - dd/MM/yyyy' }}</label>
            <br>
            <label>Cập nhật lúc: {{ tour.updated_at|date : 'HH:MM - dd/MM/yyyy' }}</label>
          </div>
          <div class="col"> <img src="{{tour.image_url}}" width="200" class="rounded"></div>
      
        </div>


        <div class="form-group">
          <label for="inputName">Tên tour:</label>
          <input type="text" class="form-control" id="inputName" value="{{ tour.title }}" />
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Giá người lớn:</label>
            <input type="email" class="form-control" id="inputEmail4" value="{{ tour.adult_price |currency:'VND' }}" />
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Giá trẻ nhỏ:</label>
            <input class="form-control" value="{{ tour.child_price |currency:'VND'}}" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState">Phương tiện</label>
            <select id="inputState" class="form-control">
              <option selected>{{tour.vehicle}}</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Số ngày:</label>
            <input type="email" class="form-control" id="inputEmail4" value="{{ tour.day }}" />
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Số đêm:</label>
            <input class="form-control" value="{{ tour.night }}" />
          </div>
        </div>
        <div class="form" *ngFor="let activity of tour.activities; let i = index">
          <div class="form-group"></div>
          <label *ngIf="i == 0">Các hoạt động:</label>
          <div class="card">
            <div class="card-header" data-toggle="collapse" [attr.data-target]="'#activity-' + i">
              {{ activity.num }}
            </div>
            <div class="card-body collapse" id="activity-{{ i }}">
              {{ activity.desc }}
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>

</ng-template>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Khi thay đổi sẽ không hoàn tác được, bạn có muốn thay đổi?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary"  (click)='onDelete()'  data-dismiss="modal" >Lưu thay đôi</button>
      </div>
    </div>
  </div>
</div>